*,
:root {
  --primary-color: #483514
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  overflow-x: hidden;
  overflow-y: overlay;
}

img {
  max-width: 100%;
}

.app {
  flex: 1;
  display: grid;
  grid-template-rows: 70px 1fr 70px;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

.app__header {
  grid-area: header;
}

.app__main {
  grid-area: main;
  height: 100%;
}

.app__footer {
  grid-area: footer;
  border-top: 1px solid var(--primary-color);
}

.draw-area {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.draw-area__controls {}

.draw-area__draw {
  flex: 1;
  border: 1px solid red;
}